/*---------- reset-----*/

.clr{        /*отміняє оптіканіє, вставити в сброс*/
	clear:both;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

input { 
	outline:none; /* отміняє обводку при клике на input */
}

/*Отміняє оптіканіє розглянути детально урок 10-11*/







body{
	font-family: "Open Sans", sans-serif;
	color: #606060;
}

a{
	color: #339933;
}

header{
	background:#292929;
	overflow: hidden;
}

.main-center-header{
	max-width: 980px;
	margin: 0 auto;
}


.logo{
	float: left;
	margin-top:40px;
}

.menu-top{
	float: right;
}

.menu-top li{
	float: left;
	list-style: none;
	font-weight: 600;
}

.menu-top li a{
	color:#ffffff;
	text-decoration: none;
	padding: 50px 30px;
	display: block;
	border-bottom: 3px solid #1e1e1e;
	border-right: 1px solid #1e1e1e;
}

.menu-top li:first-child{
	border-left: 1px solid #1e1e1e;
}

.menu-top li a:hover{
	color:#58c93a;
	border-bottom: 3px solid #58c93a;
}

.content{
	border-right: 1px solid #e1e0e0;
	border-left: 1px solid #e1e0e0;
}


main{
	float: left;
	width: 63%;
	margin-top: 70px;
}

	article{
		margin-bottom: 70px;
	}


	article>header{
		font-size: 0;
		background: none;
		margin-bottom: 10px;
		position: relative;
	}

	.pablish{
		font-size: 13px;
		background: rgba(0,0,0,0.6);
		color: #fff;
		position: absolute;
		bottom: -60px;
		padding: 10px 20px;
		width: 100%; 
		box-sizing: border-box; /*якщо інформація сильно довго то щоб вона не виїжала за межі*/ 
		-webkit-transition: bottom 0.2s linear;
		-o-transition: bottom 0.2s linear;
		-moz-transition: bottom 0.2s linear;
		transition: bottom 0.2s linear;
	}

	article>header:hover .pablish{/*при наведені на фото .pablish bottom змінюється на 0 */
		bottom: 0px;
	}

	article>h2{
		font-size:1.75em; /* 28px/16px=1.75 em  // 16px це в 1em */
		font-weight: 600;
		text-transform: uppercase;
		line-height:1.1; /*міжстрочний інтервал*/
		margin: 0 0 40px 20px;
		color: #4f4e4e;
	}

	article>p{
		margin: 0 0 20px 20px; 
		line-height: 1.3.
	}

	a.more{
		border: 2px solid #c2c2c2;
		color:#c2c2c2;
		border-radius: 20px;
		padding: 7px 20px;
		display: inline-block; /* */
		text-decoration: none;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	a.more:hover{
		color: #339933;
		border-color: #339933;
	}

aside{
	float: right;
	width: 28%; 
	margin-top: 70px;
}

.widget{
	margin-bottom: 50px;
}
 
.widget>h2{
	text-transform: uppercase;
	color: #6c6969;
	background: #f8f8f8;
	border-left: 3px solid #58c93a;
	padding: 10px 20px;
	font-weight: 600;
	margin-bottom: 20px;
}

.search{
	color: #b9b9b9;
	font-size: 0.75em;
	width: 100%;
	border: 1px solid #e1e0e0;
	padding: 15px 20px;
	border-radius: 20px;
}


.right-menu{
	margin: 0 0 0 20px;
	line-height: 1.5;
}

.right-menu>ul>li>a{
	text-decoration: none;
}

.right-menu>ul>li>a:hover{
	text-decoration: underline;
}

li{
	list-style: none;
}

.email{
	color: #b9b9b9;
	font-size: 0.75em;
	width: 100%;
	border: 1px solid #e1e0e0;
	padding: 15px 50px 15px 20px;
	box-sizing: border-box;
	position: absolute;
	top:0;
	left: 0;
	border-radius: 20px;
}

.sub{
	position: relative;
	width: 100%;
	height: 48px;
}

.img-sub{
	position: absolute;
	right: 20px;
	top:12px
}

.page{
	border-top: 1px solid #e1e0e0;
	font-size: 1.125em;
	text-transform: uppercase;
	font-weight: 600;
	padding: 30px;
}

.page a{
	color: #818181;
	text-decoration: none;
	padding: 5px;
}

.page a:hover{
	text-decoration: underline;
}

.prev-link{
	float: left;
}

.next-link{
	float: right;
}

footer{
	border-top: 1px solid #e1e0e0;
	background: #f8f8f8;
	text-align: center; /*сентрірує контент*/
	font-size: 0.8125em;
	padding: 50px 0;
}

footer img{
	margin-bottom:20px;
}

@media screen and (max-width: 768px){
	.logo{
		margin-top: 20px;
		margin-left: 20px;
	}

	.menu-top li a{
		padding: 20px 30px;
	}

	main{
		float: none;
		width: 100%;
		margin-top: 0px;
	}

	article>header img{
		width: 100%;
	}

	aside{
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 576px){
	.logo{
		float: none;
		margin: 10px auto;
		display: block;
	}
	
	.menu-top{
		float: none;
		width: 100%;
	}
}
